# Java
*.class
*.log
*.jar
hs_err_pid*

# Gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Eclipse
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.recommenders/
.launch
.classpath

# Node.js
node_modules/
bundle.*
